@model StorageRoom
<form asp-action="SaveEditStorageRoom" asp-controller="StorageRoom" asp-route-id="@Model.Id" method="post">
    <div>
        <input asp-for="Id" type="hidden" value="@Model.Id"/>
    </div>
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" value="@Model.Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Address"></label>
        <input asp-for="Address" class="form-control" value="@Model.Address"/>
        <span asp-validation-for="Address"class="text-danger"></span>
    </div>
    
    <input type="submit" value="Edit" class="btn btn-success" />
</form>
